/* "Before he swings the bat, a real slugger imagines an 
      arc inside his heart, arching directly to Heaven." */



/*BASE STYLES------------------------------------------------------------*/


html, body {
	font-family: "palatino", georgia, serif;
	color:#3e3e3e;
	font-size:1em;
	width: 100%;
	

	/* to make my fonts prettier */
	font-smoothing:antialiased;
	-o-font-smoothing:antialiased; /* Opera */
	-moz-font-smoothing:antialiased; /* Firefox 4 */
	-webkit-font-smoothing:antialiased; /* Safari and Chrome */
}

body.scroll-lock {
	position: fixed; 
    overflow-y: scroll;
}


a:link, a:visited {
	color:#636997;
	outline:none;
	text-decoration:none;
}


a:hover {
	text-decoration:underline;
}




/*PAGE STRUCTURE------------------------------------------------------------*/

#wrapper {
	display:block;
	position:relative;
	width:100%;
	padding: 30px 0;
}



/*HEADER------------------------------------------------------------*/

#nav {
	display:none;
	width: 100%;
	height: 30px;
	border-bottom: 3px solid #333;
	margin-bottom: 40px;
}



#header {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 10px;
/*	border-bottom: 1px solid #e2e2e2;*/
}



#header h1 {
	font-size:38px;
	font-weight: 900;
	margin-bottom: 10px;
	text-align: center;

}

#header p {
	color: #999;
	font-size:0.925em;
	line-height: 1.225em;
	text-align: center;
	margin-bottom: 10px;
	padding: 0 90px 30px 90px;
	border-bottom: 1px solid #ccc;
}

#header p.kicker {
	border: none;
	color: #808080;
	font-family: "MigraHeavy", sans-serif;
	font-size: 11px;
	letter-spacing: 4px;
	margin-bottom: 20px;
	padding: 0;
	text-transform: uppercase;
}





/*MAIN STYLES------------------------------------------------------------*/

#main {
	position: relative;
	display: block;
	width: 806px;
	margin: 0 auto 60px auto;
	min-height: 1400px;
}

#gallery-view {
	display: block;
	float:left;
	width: 656px;
}

#gallery-view div.entry {
	position: relative;
	display: inline-block;
	float: left;
	width: 150px;
	height: 230px;
/*	width: 68px; */ /* for 1-column images */
/*	height: 116px;*/ 
	margin-bottom: 14px;
	margin-left: 14px;
	margin-right: 0px;
}

#gallery-view div.entry img {
	width: 100%;
	margin-bottom: 8px;
	border: 1px solid #fff;
}

#gallery-view div.entry p {
	position: absolute;
	bottom: 6px;
	font-size: 11px;
	font-style: italic;
	letter-spacing: 1px;
}

#gallery-view div.entry:hover img {
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.75);
}


/*CONTROLS----------------------------------------------------------------*/


#slider-controls {
	position: relative;
	padding: 18px 18px 8px 18px;
	overflow: hidden;
}

ul.num-ticks {
	display: inline-block;
	margin-left: -16px;
	width: 110%;

	color:#808080;
	font-size:11px;
	font-weight: 900;
	letter-spacing: 1px;
	
}

ul.num-ticks li {
	display: inline;
	float: left;
	margin-left: 57px;
	padding-top: 12px;
	text-align: center;
	cursor: pointer;
}

ul.num-ticks li.first {
	margin-left: 0px;
}

ul.num-ticks li:hover {
	color:#000;
	text-decoration: underline;
}

#num-tick-box {
	display: none;
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 24px;
	padding-top: 10px;
	background-color: #d7e0e9;
	border-radius: 2px;
	color: #333;
	font: normal 900 11px/14px Arial, Helvetica, sans-serif;
	text-align: center;
	z-index: 99999;
}

.num-tick-box-inner {
	position: relative;
	z-index: 99998;
}

.num-tick-box-triangle {
	position: absolute;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: rgba(215, 224, 233, 0.95) transparent transparent transparent;
	height: 0px;
	margin: -4px auto 0 10px;
	width: 0px;
	z-index: 99997;
}

/*UI OVERRIDES----------------------------------------------------------------*/

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius:0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius:0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius:0; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius:0; }

.ui-slider-horizontal { height:.3em; }

.ui-slider-horizontal .ui-slider-handle { top:-.5em; margin-left:-.6em; }
.ui-slider .ui-slider-handle { position:absolute; z-index:2; width:.6em; height:1.2em; cursor:pointer; }



/*SECONDARY STYLES------------------------------------------------------------*/

#link-controls {
	position: relative;
	display: inline;
	float: left;
	width:150px;
}


#link-controls div.status {
	display:block;
	font-family: "MigraHeavy";
	font-size: 20px;
	width: 100%;
	margin-bottom: 18px;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}

#link-controls div.status p.num-entries {
	margin-bottom: 14px;
}

#link-controls div.status a {
	font-size: 9px;
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0.5;
} #link-controls div.status a:hover {
	opacity: 1;
}

#link-controls div.status p.lede-in, #link-controls ul p {
	color: #808080;
	font-family: "MigraHeavy";
	font-size: 10px;
	letter-spacing: 2px;
	margin-bottom: 12px;
	text-transform: uppercase;
}


#link-controls ul {
	margin-bottom: 26px;
}

#link-controls ul li {
	border-bottom: 1px solid #e2e2e2;
	font-size: 13px;
	/*margin-bottom: 10px;*/
	padding: 10px 6px;
	cursor: pointer;
}


#link-controls ul li:hover {
	background-color: #d7e0e9;
	color: #000;
}


#link-controls ul li:active, #link-controls ul li.buttonOn, #link-controls ul li.buttonDefault {
	background-color: #4B6987;
	color: #fff;
	font-weight: 900;
}


#link-controls ul.characters {
	display: none;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
}

#link-controls ul.characters-mini li span:last-child {
	color:#909090;
	margin-left: 14px;
}

#link-controls ul.characters-mini li:hover span:last-child {
	color:#3e3e3e;
}

#link-controls ul.characters-mini li.buttonOn span:last-child {
	color:#fff;
}

#link-controls ul.contents li span {
	color: #808080;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	margin-left: 10px;
}


#link-controls ul p span {
	display: inline;
	float: right;
	width: 0px;
	height: 0px;
/*	margin-right: 84px;*/
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #808080 transparent transparent transparent;
}


#link-controls ul p span:after {
	content: ".";
	visibility: hidden;
}


#link-controls ul.expanded {
	min-height: 600px;
	height: auto;

	transition-duration: 0.4s;
	-o-transition-duration: 0.4s; /* Opera */
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
}


#link-controls ul.expanded p span {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #808080 transparent;
}


.issue-header {
	margin-bottom: 24px;
}


.issue-header h2 {
	font-family: "MigraHeavy";
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center;
}


.text-container {
	padding-bottom: 200px;
	z-index: 99;
}


.text-container p {
	font-size: 16px;
	line-height: 19px;
	width: 560px;
	margin-bottom: 18px;
}


.text-container h3 {
	color: #808080;
	font-family: "MigraHeavy";
	font-size: 10px;
	letter-spacing: 2px;
	margin-bottom: 8px;
	text-transform: uppercase;
}


.text-container h3.transcript {
	border-top: 1px solid #e2e2e2;
	padding-top: 20px;
}


.text-container a.button-transcribe {
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
}.text-container a.button-transcribe:hover {
	background-color:#fb9e25;
}.text-container a.button-transcribe:active {
	position:relative;
	top:1px;
}


.text-container.embiggen-image {
	opacity: 0;

	transition-duration: 0.4s;
	-o-transition-duration: 0.4s; /* Opera */
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
}

.img-container {
	display: inline;
	float: right;
	right:0;
	width: 478px;
	height: 625px;
	margin: 0 0 24px 20px;
	cursor: pointer;
	z-index: 100;
}

.img-container img {
	display: block;
	width: 100%;
	height: 100%;
}

.img-container.embiggen-image {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: 200px;

	transition-duration: 0.4s;
	-o-transition-duration: 0.4s; /* Opera */
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
}


#modal-container {
	display:block;

	/*IMPORTANT: Trick for centering fixed elements*/
	position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -350px; /*set to half of the height*/
	margin-left: -400px; /*set to half of the width*/
	width: 800px;
	height:700px;
	overflow:hidden;
	background-color:#fff;
	z-index:1000;

	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.3);
}

#modal-container .button-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../assets/images/close_button.png);
	background-repeat: no-repeat;
	background-position: 0 -80px;
} #modal-container .button-close:hover {
	background-position: 0 -40px;
} /*#modal-container .button-close:active {
	background-position: 0 0;
}*/

#modal-container .modal {
	position: relative;
	width: 90%;
	margin: 0 auto;
	height: 650px;
	overflow: hidden;
	padding-top: 20px;

	-webkit-box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 1), inset -4px 0px 0px rgba(255, 255, 255, 1), inset 0px -2px 8px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 4px 0px 0px rgba(255, 255, 255, 1), inset -4px 0px 0px rgba(255, 255, 255, 1), inset 0px -2px 8px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 4px 0px 0px rgba(255, 255, 255, 1), inset -4px 0px 0px rgba(255, 255, 255, 1), inset 0px -2px 8px rgba(50, 50, 50, 0.3);
}

#modal-container .modal-inner {
	position: relative;
	width: 105%;
	height: 800px;
	margin-left: -10px;
	padding-left: 10px;
	padding-bottom: 50px;
	overflow: scroll;
}

#modal-cover {
	display:block;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	
	background-color:#808080;
	opacity:0.6;
	width:100%;
	height:11870px;
}


/*FOOTER------------------------------------------------------------*/

#footer {
	background-color:#3e3e3e;
	border-top:4px solid #808080;
	color:#999;
	font-size:0.813em; /*13px*/ 
	line-height:16px;
	padding:40px;
}


.footer-content {
	width:100%;
	margin:0 auto;
}


#footer .footer-content h4 {
	font-size:1.625em; /*26px*/
	line-height:1.025em; /*26px*/
	font-weight:900;
	margin-bottom:60px;

}


#footer .footer-content ul li.subhead h5 {
	color:#f4f4f4;
	font-size:1.375em; /*22px*/
	font-weight:900;
	margin-top:0px;
	margin-bottom:20px;
}


#footer .footer-content .row {
	border-left:1px solid #999;
	display:inline;
	float:left;
	padding-left:40px;
	padding-right:20px;
	text-align:left;
	margin-bottom: 20px;
	width:250px;
}


#footer .footer-content .firstchild {
	border-left:0px;
	padding-left:0px;
}


#footer .footer-content ul li {
	margin-bottom:10px;
}


#footer .footer-content ul li em {
	font-style:italic;
}


#footer:hover {
	color:#f4f4f4;
}








/*MISC------------------------------------------------------------*/

.hide {
	display:none;
}

a img {
	border:none;
}


/*  Formerly known as "Clearfix"  */ 
/*.group {display: inline-block;}*/
.group:after {content: "."; clear: both;display: block;font-size: 0;height: 0;visibility: hidden;}


/*Keeps certain strings from being selectable (highlight-able) on pages.*/
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}



/* CSS3 VENDOR PREFIXES:
-o-
-moz-
-webkit-
*/


@media only screen and (min-width:320px) and (max-width:480px) {
	#footer .footer-content .row {
		border-left: none;
		padding-left: 0;
	}
}


/*For Responsive Design: 'target' divided by 'context' = 'result'   */

/*LIST OF STARTER MEDIA QUERIES: 

@media only screen and (max-width:320px) {}

@media only screen and (min-width:320px) and (max-width:480px) {}

@media only screen and (min-width:480px) and (max-width:768px) {}

@media only screen and (min-width:768px) and (max-width:960px) {}

@media only screen and (min-width:960px) and (max-width:1440px) {}

@media only screen and (min-width:1440px) {}

*/



/*The End*/